
    
    {% extends 'base.html' %}

    
    {% block  about_page %}
        
    
        
    
    <div class="container-fluid bg-warning text-center p-5">
      <h1 class="fw-bold text-body-secondary">ABOUT</h1>
    </div>
    <!-- container2  -->
    <div class="container-fluid">
      <div class="container pt-5">
        <div class="row pt-5">
          <div class="col-6">
            <img src="static/assets/A1.png" alt="" height="400px" width="100%">
          </div>
          <div class="col-6">
            <h2 class="fw-bold">Who is Lighten</h2>
            <p class="pt-2 fs-5 ">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum.</p>
            <p class="pt-2 fs-5 ">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- container3  -->
    <div class="container-fluid container3  ">
        <div class="row">
            <h1 class="heading text-center mt-5"> <span class="yellow1">WHY</span> <span class="decor">CHO</span>OSE US
            </h1>

            <h4 class="text-center head4 mt-2">Fastest repair service with best price!</h4>
        </div>
        <div class="row text-center  height  mt-5">
            <div class="col-1 bg-warning">
            </div>
            <div class="col bg-white pt-5 ">
                <img src="static/assets/2.png" alt="">
                <h3 class="mt-1">Data recovery</h3>
                <p>Perspiciatis eos quos totam <br> cum minima autPerspiciatis <br> eos quos</p>
            </div>
            <div class="col bg-white pt-5 ">
                <img src="static/assets/3.png" alt="">
                <h3 class="mt-1">Computer repair</h3>
                <p>Perspiciatis eos quos totam <br> cum minima autPerspiciatis <br> eos quos</p>
            </div>
            <div class="col bg-white pt-5 ">
                <img src="static/assets/4.png" alt="">
                <h3 class="mt-1">Mobile service</h3>
                <p>Perspiciatis eos quos totam <br> cum minima autPerspiciatis <br> eos quos</p>
            </div>
            <div class="col bg-white pt-5  ">
                <img src="static/assets/5.png" alt="">
                <h3 class="mt-1">Network solutions</h3>
                <p>Perspiciatis eos quos totam <br> cum minima autPerspiciatis <br> eos quos</p>
            </div>
            <div class="col-1 bg-warning">
            </div>

        </div>
        <button class="btn2 "> Read More</button>
    </div>
    </div>
    <!-- 4th container  -->
    <div class="container-fluid container4">
        <div class="row">
            <h1 class="heading text-center mt-5 p-3"> <span class="yellow1">SERV<span class="decor">ICE </span> </span>
                <span class="decor"> PRO</span>CESS
            </h1>
            <h4 class="text-center head4 mt-3 ">Easy and effective way to get your device repair</h4>
        </div>
        <div class="container">
            <div class="row mt-4 text-center  justify-content-around">
                <div class="col-3 p-4 ">
                    <img src="static/assets/6.png" alt="">
                    <h3>Fast service</h3>
                    <p>Exerci tation ullamcorper suscipit <br> lobortis nisl ut aliquip ex ea</p>
                </div>
                <div class="col-3 p-4">
                    <img src="static/assets/7.png" alt="">
                    <h3>Fast service</h3>
                    <p>Exerci tation ullamcorper suscipit <br> lobortis nisl ut aliquip ex ea</p>
                </div>
                <div class="col-3 p-4 ">
                    <img src="static/assets/8.png" alt="">
                    <h3>Fast service</h3>
                    <p>Exerci tation ullamcorper suscipit <br> lobortis nisl ut aliquip ex ea</p>
                </div>
            </div>
            <div class="row  mt-4 text-center justify-content-around">
                <div class="col-3 p-4 ">
                    <img src="static/assets/9.png" alt="">
                    <h3>Fast service</h3>
                    <p>Exerci tation ullamcorper suscipit <br> lobortis nisl ut aliquip ex ea</p>
                </div>
                <div class="col-3 p-4">
                    <img src="static/assets/10.png" alt="">
                    <h3>Fast service</h3>
                    <p>Exerci tation ullamcorper suscipit <br> lobortis nisl ut aliquip ex ea</p>
                </div>
                <div class="col-3 p-4">
                    <img src="static/assets/11.png" alt="">
                    <h3>Fast service</h3>
                    <p>Exerci tation ullamcorper suscipit <br> lobortis nisl ut aliquip ex ea</p>
                </div>
            </div>
        </div>

    </div>
    {% endblock  %}