



{% extends 'base.html' %}

{% block home_page %}


    
        

    <div id="carouselExampleDark" class="carousel  carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="500">
                <img src="static/assets/1.jpg" class="d-block  bgimg" alt="...">
                <div class="carousel-text">
                    <h2>OUR <br>
                        <span class="bold">LATEST </span><br>
                        <span class="yellow">PRODUCT</span>
                    </h2>
                    <p class="para">It is a long established fact that a r <br>
                        eader will be distracted by the readable content of a page</p>
                    <button class="btn1">See More Products</button>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="static/assets/1.jpg" class="d-block bgimg" alt="...">
                <div class="carousel-text">
                    <h2>OUR <br>
                        <span class="bold">LATEST </span><br>
                        <span class="yellow">PRODUCT</span>
                    </h2>
                    <p class="para">It is a long established fact that a r <br>
                        eader will be distracted by the readable content of a page</p>
                    <button class="btn1">See More Products</button>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="static/assets/1.jpg" class="d-block bgimg" alt="...">
                <div class="carousel-text">
                    <h2>OUR <br>
                        <span class="bold">LATEST </span><br>
                        <span class="yellow">PRODUCT</span>
                    </h2>
                    <p class="para">It is a long established fact that a r <br>
                        eader will be distracted by the readable content of a page</p>
                    <button class="btn1">See More Products</button>
                </div>
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- container3  -->


    <section>

    <div class="container-fluid container3  ">
        <div class="row">
            <h1 class="heading text-center mt-5"> <span class="yellow1">WHY</span> <span class="decor">CHO</span>OSE US
            </h1>

            <h4 class="text-center head4 mt-2">Fastest repair service with best price!</h4>
        </div>
        <div class="row text-center  height  mt-5">
            <div class="col-1 bg-warning">
            </div>
            <div class="col bg-white pt-5 ">
                <img src="static/assets/2.png" alt="">
                <h3 class="mt-1">Data recovery</h3>
                <p>Perspiciatis eos quos totam <br> cum minima autPerspiciatis <br> eos quos</p>
            </div>
            <div class="col bg-white pt-5 ">
                <img src="static/assets/3.png" alt="">
                <h3 class="mt-1">Computer repair</h3>
                <p>Perspiciatis eos quos totam <br> cum minima autPerspiciatis <br> eos quos</p>
            </div>
            <div class="col bg-white pt-5 ">
                <img src="static/assets/4.png" alt="">
                <h3 class="mt-1">Mobile service</h3>
                <p>Perspiciatis eos quos totam <br> cum minima autPerspiciatis <br> eos quos</p>
            </div>
            <div class="col bg-white pt-5  ">
                <img src="static/assets/5.png" alt="">
                <h3 class="mt-1">Network solutions</h3>
                <p>Perspiciatis eos quos totam <br> cum minima autPerspiciatis <br> eos quos</p>
            </div>
            <div class="col-1 bg-warning">
            </div>

        </div>
        <button class="btn2 "> Read More</button>
    </div>
    </div>

</section>
    <!-- 4th container  -->
    <div class="container-fluid container4">
        <div class="row">
            <h1 class="heading text-center mt-5 p-3"> <span class="yellow1">SERV<span class="decor">ICE </span> </span>
                <span class="decor"> PRO</span>CESS
            </h1>
            <h4 class="text-center head4 mt-3 ">Easy and effective way to get your device repair</h4>
        </div>
        <div class="container">
            <div class="row mt-4 text-center  justify-content-around">
                <div class="col-3 p-4 ">
                    <img src="static/assets/6.png" alt="">
                    <h3>Fast service</h3>
                    <p>Exerci tation ullamcorper suscipit <br> lobortis nisl ut aliquip ex ea</p>
                </div>
                <div class="col-3 p-4">
                    <img src="static/assets/7.png" alt="">
                    <h3>Fast service</h3>
                    <p>Exerci tation ullamcorper suscipit <br> lobortis nisl ut aliquip ex ea</p>
                </div>
                <div class="col-3 p-4 ">
                    <img src="static/assets/8.png" alt="">
                    <h3>Fast service</h3>
                    <p>Exerci tation ullamcorper suscipit <br> lobortis nisl ut aliquip ex ea</p>
                </div>
            </div>
            <div class="row  mt-4 text-center justify-content-around">
                <div class="col-3 p-4 ">
                    <img src="static/assets/9.png" alt="">
                    <h3>Fast service</h3>
                    <p>Exerci tation ullamcorper suscipit <br> lobortis nisl ut aliquip ex ea</p>
                </div>
                <div class="col-3 p-4">
                    <img src="static/assets/10.png" alt="">
                    <h3>Fast service</h3>
                    <p>Exerci tation ullamcorper suscipit <br> lobortis nisl ut aliquip ex ea</p>
                </div>
                <div class="col-3 p-4">
                    <img src="static/assets/11.png" alt="">
                    <h3>Fast service</h3>
                    <p>Exerci tation ullamcorper suscipit <br> lobortis nisl ut aliquip ex ea</p>
                </div>
            </div>
        </div>

    </div>

    <!-- container5  -->
    <div class="container ">
        <div class="row">
            <h1 class="heading  mt-5"> <span class="yellow1 decor">OUR</span> PRODUCTS
            </h1>
            <h3 class=" mt-2">We package the products with best services to make you a happy customer.</h3>
        </div>
    </div>
    <!-- container6  -->
    <div class="bgrimg  ">
        <div class="container-fluid container6">
            <div class="container  pt-5  ">
                <div class="row text-center pt-5 justify-content-around">
                    <div class="col-lg-3 col-md-6 col-sm-12 pt-3 box">
                        <img src="static/assets/12.png" alt="">
                        <h5 class="pt-2">Norton Internet Security</h5>
                        <h3>$25.00</h3>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 pt-3 box">
                        <img src="static/assets/13.png" alt="">
                        <h5 class="pt-2">Norton Internet Security</h5>
                        <h3>$25.00</h3>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 pt-3 box">
                        <img src="static/assets/14.png" alt="">
                        <h5 class="pt-2">Norton Internet Security</h5>
                        <h3>$25.00</h3>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 pt-3 box">
                        <img src="static/assets/15.png" alt="">
                        <h5 class="pt-2">Norton Internet Security</h5>
                        <h3>$25.00</h3>
                    </div>
                </div>
                <div class="row text-center justify-content-around pt-5">
                    <div class="col-lg-3 col-md-6 col-sm-12 pt-3 box">
                        <img src="static/assets/16.png" alt="">
                        <h5 class="pt-2">Norton Internet Security</h5>
                        <h3>$25.00</h3>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 pt-3 box">
                        <img src="static/assets/17.png" alt="">
                        <h5 class="pt-2">Norton Internet Security</h5>
                        <h3>$25.00</h3>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 pt-3 box">
                        <img src="static/assets/18.png" alt="">
                        <h5 class="pt-2">Norton Internet Security</h5>
                        <h3>$25.00</h3>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 pt-3 box">
                        <img src="static/assets/19.png" alt="">
                        <h5 class="pt-2">Norton Internet Security</h5>
                        <h3>$25.00</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container7 mt-2">
            <div class="container">
                <div class="row ">
                    <h1 class="mt-5 logoh ">What Clients Say?</h1>
                </div>
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-pagination">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"> </button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row mt-5">
                                <div class="col-2"><img src="static/assets/20.png" class="d-block " alt="..."></div>
                                <div class="col-2 mt-5">
                                    <h3>Jone Due <br>
                                        12/02/2019
                                    </h3>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <p class="logop">You guys rock! Thank you for making it painless, pleasant and most of
                                    all hassle free! I wish I would have thought of it first. I am <br> really satisfied
                                    with my first laptop service. <br>
                                    You guys rock! Thank you for making it painless, pleasant and most of all hassle
                                    free! I wish I would have thought of it first. I am</p>
                            </div>

                        </div>
                        <div class="carousel-item">
                            <div class="row mt-5">
                                <div class="col-2"><img src="static/assets/20.png" class="d-block " alt="..."></div>
                                <div class="col-2 mt-5">
                                    <h3>Jone Due <br>
                                        12/02/2019
                                    </h3>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <p class="logop">You guys rock! Thank you for making it painless, pleasant and most of
                                    all hassle free! I wish I would have thought of it first. I am <br> really satisfied
                                    with my first laptop service. <br>
                                    You guys rock! Thank you for making it painless, pleasant and most of all hassle
                                    free! I wish I would have thought of it first. I am</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row mt-5">
                                <div class="col-2"><img src="static/assets/20.png" class="d-block " alt="..."></div>
                                <div class="col-2 mt-5">
                                    <h3>Jone Due <br>
                                        12/02/2019
                                    </h3>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <p class="logop">You guys rock! Thank you for making it painless, pleasant and most of
                                    all hassle free! I wish I would have thought of it first. I am <br> really satisfied
                                    with my first laptop service. <br>
                                    You guys rock! Thank you for making it painless, pleasant and most of all hassle
                                    free! I wish I would have thought of it first. I am</p>
                            </div>
                        </div>
                    </div>
                    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button> -->
                </div>
            </div>
        </div>
        <div class="container bg-warning container8  p-5">
            <div class="row">
                <div class="col-8">
                    <h1 class="q">REQUEST A FREE QUOTE <img src="static/assets/call.png" alt=""></h1>
                    <h5>Get answers and advice from people you want it from.</h5>
                </div>
                <div class="col-4">
                    <button class="mt-3 getq">
                        <h4>Get Quote</h4>
                    </button>
                </div>

            </div>

        </div>
    </div>
    <div class="container-fluid container9 ">
    </div>

    
    {% endblock %}