{% include 'header.html' %}
    <div class="container-fluid bg-warning text-center p-5">
        <h1 class="fw-bold">PRODUCT</h1>
    </div>

    <div class="container pt-3">
        <div class="row p-5 text-center">
            <h3 class=" mt-2">We package the products with best services to make you a happy customer.</h3>
        </div>
    </div>
    <!-- container6  -->
    <div class="bgrimg  ">
        <div class="container-fluid container6">
            <div class="container  pt-5  ">
                <div class="row text-center pt-5 justify-content-around">
                    <div class="col-3 pt-3 box">
                        <img src="static/assets/12.png" alt="">
                        <h5 class="pt-2">Norton Internet Security</h5>
                        <h3>$25.00</h3>
                    </div>
                    <div class="col-3 pt-3 box">
                        <img src="static/assets/13.png" alt="">
                        <h5 class="pt-2">Norton Internet Security</h5>
                        <h3>$25.00</h3>
                    </div>
                    <div class="col-3 pt-3 box">
                        <img src="static/assets/14.png" alt="">
                        <h5 class="pt-2">Norton Internet Security</h5>
                        <h3>$25.00</h3>
                    </div>
                    <div class="col-3 pt-3 box">
                        <img src="static/assets/15.png" alt="">
                        <h5 class="pt-2">Norton Internet Security</h5>
                        <h3>$25.00</h3>
                    </div>
                </div>
                <div class="row text-center justify-content-around pt-5">
                    <div class="col-3 pt-3 box">
                        <img src="static/assets/16.png" alt="">
                        <h5 class="pt-2">Norton Internet Security</h5>
                        <h3>$25.00</h3>
                    </div>
                    <div class="col-3 pt-3 box">
                        <img src="static/assets/17.png" alt="">
                        <h5 class="pt-2">Norton Internet Security</h5>
                        <h3>$25.00</h3>
                    </div>
                    <div class="col-3 pt-3 box">
                        <img src="static/assets/18.png" alt="">
                        <h5 class="pt-2">Norton Internet Security</h5>
                        <h3>$25.00</h3>
                    </div>
                    <div class="col-3 pt-3 box">
                        <img src="static/assets/19.png" alt="">
                        <h5 class="pt-2">Norton Internet Security</h5>
                        <h3>$25.00</h3>
                    </div>
                </div>
            </div>
        </div>
{% include 'footer.html' %}